@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Scrollbar overlay (tidak mengambil space) */
  .scrollbar-overlay {
    scrollbar-gutter: stable;
  }

  /* Scrollbar minimalis hanya thumb */
  .scrollbar-minimal::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  .scrollbar-minimal::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 3px;
  }

  .scrollbar-minimal::-webkit-scrollbar-thumb:hover {
    background-color: rgba(155, 155, 155, 0.7);
  }

  /* Untuk Firefox */
  .scrollbar-minimal {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  }

  /* Kombinasi no-scrollbar dan scrollbar minimal */
  .scrollbar-overlay-minimal {
    @apply no-scrollbar scrollbar-minimal;
    overflow: overlay; /* Untuk browser yang mendukung */
  }
}

/* styles.css */
.button-click-effect {
  transition: transform 0.1s ease-in-out;
}

.button-click-effect:active {
  transform: scale(0.95);
}

.half-right-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%; /* Atur panjang border */
  width: 4px; /* Ketebalan border */
  background: #1e293b; /* Warna slate-900 */
}

.clip-trapezoid-with-gap {
  background-color: white;
  clip-path: polygon(
    /* Shape luar */ 30% 0,
    100% 0,
    100% 100%,
    0 100%,
    /* Potongan untuk gap (harus berlawanan arah jarum jam) */ 0 0,
    0 100%,
    10% 100%,
    40% 0,
    32% 0,
    5% 100%
  );
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInFromRight 0.2s ease-out forwards;
}

/* Untuk animasi muncul (slide down) */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* Untuk animasi menghilang (slide up) */
@keyframes slideUp {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

/* Class untuk animasi masuk */
.toast-enter {
  animation: slideDown 0.3s ease-out forwards;
}

/* Class untuk animasi keluar */
.toast-exit {
  animation: slideUp 0.3s ease-out forwards;
}